* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar-icon {
    display: flex;
    align-items: center;

    img {
        border-radius: 50%;
        margin: 0 10px 0 0 ;
    } 
}

.navbar-nav {
    display: flex;
    list-style: none;

    
    li {
        margin: 0.8rem 1.1rem ;
        font-weight: 400;
        font-size: 1rem;
        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                color: #cfcfcf;
            }
        }
    }
}

.navbar-btn {
    padding: 0.5em 1em;
    font-weight: 600;
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}



.katalog-lomba {
    background: linear-gradient(to top, rgba(239, 68, 68, 0.9) 0%, rgba(239, 68, 68, 0.4) 40%);
}

.katalog-event {
    background: linear-gradient(to top, rgba(168, 85, 247, 0.9) 0%, rgba(168, 85, 247, 0.4) 40%);
}

.katalog-webinar {
    background: linear-gradient(to top, rgba(59, 130, 246, 0.9) 0%, rgba(59, 130, 246, 0.4) 40%);
}

.katalog-libur {
    background: linear-gradient(to top, rgba(16, 185, 129, 0.9) 0%, rgba(16, 185, 129, 0.4) 40%);
}

.hero-section {
    height: 100vh;
    color: #fff;
    background: url(../images/hero-section.jpeg) center / cover;
}

.text-blue {
    background: linear-gradient(-90deg,    oklch(69.238% 0.16077 268.264), oklch(54.6% 0.245 262.881));
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
}
.hero-container {
    
    text-align: left;
    background: linear-gradient(90deg, oklch(37.758% 0.14662 265.787 / 50),  oklch(48.8% 0.243 264.376) 30%, rgba(0, 0, 0, 0));
    height: 100%;
    padding: 3em;
    font-size: 1.5rem;
    h1 {
        font-size: 3em;
        margin-bottom: 1rem;
    }
}

/* section poster */
.section-poster {
    background: linear-gradient(90deg,  oklch(37.758% 0.14662 265.787 / 50),  oklch(48.8% 0.243 264.376) 30%, rgb(0, 119, 255));
}